nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container ul{
    display: flex;
    gap:25px;

}
.container ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor:pointer ;
}
.logo img{
    width:164px;
}
 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
  .design{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
  }
  .sub-menu{
    font-size: 22px;
    text-align: center;
  }
   .button-1 button{
    background-color: #09a6bd;
    border-radius: 5px;
    padding:12px 10px;
    border:2px solid transparent;
    color:#ffffff;
    font-weight:bold;
    cursor: pointer;
    }
  .item{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 42px 4px;
    align-items: center;
    margin:34px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  .item span{
    font-size: 60%;
  }
  .main-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 16px;
  }
  .box button{
    background-color: #5cb85c;
    border:2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;

  }
  

  .box{
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    text-align: center;
  }
  @media screen and (max-width:945px){
    .main-item{
    
    grid-template-columns: 1fr 1fr;
    

  }
}
.button a{
    text-decoration: none;
}
    
  


 




